/*font-size*/
/*color*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Aleo";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Aleo";
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: 2px solid #888;
  outline: none;
}

i {
  line-height: 0;
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

select {
  border: none;
  outline: none;
  background-color: transparent;
}

.rom-container {
  width: 90%;
  margin: auto;
}

@media (min-width: 1400px) {
  .rom-container {
    width: 80%;
  }
}
.rom-header {
  background-image: linear-gradient(to right, #db5b3e, #d4553d, #cc4f3b, #c5493a, #bd4338);
  text-transform: capitalize;
  color: #fff;
}
.rom-header .button-menu-burguer {
  display: none;
}
.rom-header .content-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}
.rom-header .content-header .logo {
  width: 280px;
}
.rom-header .content-header .logo img {
  width: 100%;
}
.rom-header .login-icon {
  position: absolute;
  top: 3.5%;
  right: 2%;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 8px 10px;
}

@media screen and (max-width: 568px) {
  .rom-header .button-menu-burguer {
    z-index: 2;
    display: block;
    position: absolute;
    width: 180px;
    top: 2%;
    left: 2%;
  }
  .rom-header .button-menu-burguer .menu-btn {
    display: none;
  }
  .rom-header .button-menu-burguer .menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  .rom-header .button-menu-burguer .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .rom-header .button-menu-burguer .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .rom-header .button-menu-burguer .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .rom-header .button-menu-burguer .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .rom-header .button-menu-burguer .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .rom-header .button-menu-burguer .menu-icon {
    cursor: pointer;
    float: left;
    padding: 14px 6px;
    position: relative;
    user-select: none;
  }
  .rom-header .button-menu-burguer .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 22px;
  }
  .rom-header .button-menu-burguer .menu-icon .navicon:before, .rom-header .button-menu-burguer .menu-icon .navicon:after {
    background: #ffffff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .rom-header .button-menu-burguer .menu-icon .navicon:before {
    top: 6px;
  }
  .rom-header .button-menu-burguer .menu-icon .navicon:after {
    top: -6px;
  }
  .rom-header .button-menu-burguer .menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5e5e5;
    border-radius: 10px;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .rom-header .button-menu-burguer .menu li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .rom-header .button-menu-burguer li a:hover, .rom-header .button-menu-burguer .menu-btn:hover {
    background-color: #999;
  }
  .rom-header .content-header {
    flex-direction: column;
    gap: 0;
  }
  .rom-header .content-header h1 {
    font-size: 1.4rem;
  }
  .rom-header .content-header .logo {
    width: 260px;
  }
  .rom-header .login-icon {
    top: 2%;
  }
}
.rom-section {
  display: flex;
  flex-direction: column;
}
.rom-section .section-main {
  display: flex;
  gap: 2rem;
}
.rom-section .section-main > article {
  width: 70%;
}
.rom-section .section-main > article .content-article-columns {
  margin: 3rem 0;
  display: flex;
}
.rom-section .section-main > article .content-article-columns .fix-margin {
  margin-right: 0;
}
.rom-section .section-main > article .content-article-columns .container-overflow {
  display: flex;
  justify-content: space-between;
}
.rom-section .section-main > article .content-article-columns a {
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.rom-section .section-main > article .content-article-columns a i {
  color: #BE4439;
}
.rom-section .section-foot {
  background-color: #312f30;
  border-radius: 20px;
  width: 100%;
  display: flex;
  margin: 2rem 0;
  padding: 1.5rem 0;
  align-items: center;
  gap: 1rem;
}
.rom-section .section-foot .foot-left {
  width: 20%;
}
.rom-section .section-foot .foot-left select {
  margin-left: 16%;
}
.rom-section .section-foot .slider-new {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-right: 1rem;
}
.rom-section .section-foot .slider-new i {
  color: #BE4439;
}
.rom-section .section-foot .slider-new img {
  height: 100%;
}
.rom-section .content {
  margin-bottom: 1rem;
}

@media screen and (max-width: 568px) {
  .rom-section .section-main {
    margin-bottom: 1.5em;
    flex-direction: column;
  }
  .rom-section .section-main article {
    width: 100%;
  }
  .rom-section .section-main article .content-article-columns {
    margin-top: 1.5em;
    margin-bottom: 0;
  }
  .rom-section .section-main article .content-article-columns .container-overflow {
    display: flex;
    overflow-x: auto;
  }
  .rom-section .section-main article .content-article-columns .container-overflow .article-column {
    overflow-x: auto;
    min-width: 200px;
  }
  .rom-section .section-main article .content-article-columns .container-overflow .article-column h2 {
    font-size: 1.2em;
  }
  .rom-section .section-main .aside-tv {
    border-radius: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding: 1.2em 1em;
  }
  .rom-section .section-main .aside-tv .title3 {
    padding: 0 1em;
  }
  .rom-section .section-main .aside-tv .body-news {
    padding: 0;
    display: flex;
    gap: 1.5em;
  }
  .rom-section .section-main .aside-tv .body-news img {
    border-radius: 10px;
  }
  .rom-section .section-main .aside-tv .view-all-button {
    color: #ffffff;
    width: 100%;
  }
  .rom-section .section-foot {
    display: none;
  }
}
.wrapper {
  max-width: 100vw;
  max-height: 100vh;
}
.wrapper figure {
  width: 60%;
  margin: 0;
}
.wrapper figure img {
  height: 99.53vh;
}
.wrapper main {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  font-family: "Lato", sans-serif;
}
.wrapper main header {
  background-color: #312f30;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.wrapper main header h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.wrapper main section {
  padding: 1.5rem 2rem 0;
  display: flex;
  flex-direction: column;
}
.wrapper main section > div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.wrapper main section > div button {
  padding: 1rem 4rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.wrapper main section > div button:hover {
  color: #BE4439;
}
.wrapper main section > span {
  display: flex;
  width: 90%;
  margin: 1.4rem auto;
  text-align: center;
  font-size: 0.9rem;
}
.wrapper main section > form .caption-text {
  font-size: 0.85rem;
}
.wrapper main section > form .caption-text-center {
  display: block;
  text-align: center;
}
.wrapper main section > form .container-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  gap: 0.6rem;
}
.wrapper main section > form .container-form input {
  padding: 0.58rem 1rem;
  border-radius: 12px;
}
.wrapper main section > form .container-form .container-pass-input {
  display: inline-flex;
  align-items: center;
}
.wrapper main section > form .container-form .container-pass-input > input {
  width: 60%;
  margin-right: 1rem;
}
.wrapper main section > form .container-form .forget-pass {
  display: inline;
  font-size: 0.8rem;
  color: #999;
  margin-left: 1rem;
}
.wrapper main section > form .container-form button {
  display: block;
  text-transform: uppercase;
  width: 100%;
  padding: 0.78rem 0;
  border-radius: 8px;
  background-color: #BE4439;
  color: #fff;
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}
.wrapper main footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0.745rem 0;
  margin: 0 2.2rem;
  margin-top: 1.5rem;
  border-top: 1px solid #4d4d4d;
}
.wrapper main footer > a {
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 0.7rem;
}

@media screen and (max-width: 568px) {
  .wrapper figure {
    display: none;
  }
  .wrapper main {
    position: initial;
    width: 100vw;
    height: 100vh;
  }
  .wrapper main header {
    padding: 1rem 0 1.6rem;
  }
  .wrapper main header h1 {
    font-size: 1.5rem;
  }
  .wrapper main header img {
    width: 250px;
  }
  .wrapper main section > div {
    gap: 0.6rem;
  }
  .wrapper main section > div button {
    padding: 0.8rem 1.8rem;
  }
}
.header {
  padding: 0;
  margin: 0;
}

.two-inputs-inline {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}
.two-inputs-inline input {
  width: 50%;
}

.main-title {
  margin-top: 3rem;
  margin-left: 5rem;
  margin-bottom: 0.5rem;
}

.dropdown-container {
  text-align: end;
  margin-top: 2rem;
  margin-right: 10%;
}

.wrapper-section {
  margin-bottom: 3rem;
}

.div-container {
  width: 80%;
  margin: 1.2rem auto 0;
}
.div-container h2 {
  font-size: 2rem;
}
.div-container .div-content {
  width: 100%;
  margin-top: 2.8rem;
  padding: 0 4rem;
  display: flex;
  gap: 5rem;
}
.div-container .div-content .div-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-container .div-content .div-1 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.div-container .div-content .div-1 h3 {
  font-size: 1.7rem;
  text-align: justify;
  margin-top: 1.2rem;
}
.div-container .div-content .div-1 span {
  margin-top: 0.4rem;
  font-size: 0.85rem;
  color: #999;
}
.div-container .div-content .div-2 {
  width: 50%;
}
.div-container .div-content .div-2 h3 {
  font-size: 1.8rem;
}
.div-container .div-content .div-2 ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 1.5rem;
  padding-left: 1rem;
  list-style: disc;
  color: #BE4439;
}
.div-container .div-content .div-2 ul li p {
  padding-left: 0.6rem;
  color: black;
  margin: 0;
}
.div-container .div-content .div-2 ul li span {
  display: block;
  margin-top: 0.4rem;
  padding-left: 0.6rem;
  font-size: 0.8rem;
  color: #999;
}

.div-below {
  margin-top: 2.5rem;
}
.div-below div {
  position: relative;
  margin-left: 45%;
  margin-top: -1.1rem;
}
.div-below div a {
  padding: 0.4rem 3rem;
  color: #BE4439;
  background-color: white;
}
.div-below div a i {
  margin-left: 0.6rem;
}

@media screen and (max-width: 568px) {
  .div-container {
    width: 90%;
  }
  .div-container h2 {
    font-size: 1.5rem;
  }
  .div-container .div-content {
    display: initial;
  }
  .div-container .div-content .div-1 {
    flex-direction: initial;
    width: 100%;
    gap: 2rem;
  }
  .div-container .div-content .div-1 img {
    width: 50%;
  }
  .div-container .div-content .div-1 > div {
    width: 50%;
  }
  .div-container .div-content .div-1 > div h3 {
    font-size: 1.2rem;
  }
  .div-container .div-content .div-1 > div span {
    font-size: 0.8rem;
  }
  .div-container .div-content .div-2 {
    width: 100%;
    margin-top: 1rem;
  }
  .div-container .div-content .div-2 h3 {
    font-size: 1.3rem;
  }
  .div-container .div-content .div-2 ul {
    height: 200px;
    overflow: scroll;
  }
}
.time {
  font-size: 0.85rem;
  color: #999;
}

h1, h2 {
  margin: 0.6rem 0;
}

.dayli {
  font-size: 1.2rem;
}

@media screen and (max-width: 568px) {
  h1, h2 {
    font-size: 1.2rem;
  }

  .dayli {
    font-size: 1rem;
  }
}
.div-container1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
}
.div-container1 figure {
  text-align: center;
  margin: 0;
  width: 45%;
}
.div-container1 figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.div-container1 .content-top {
  width: 55%;
  text-align: justify;
}

.wrapper-section2 {
  display: flex;
  justify-content: right;
}

.flex-container {
  width: 90%;
  margin-top: 3.4rem;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 3.5rem;
}
.flex-container .left-container {
  width: 70%;
}
.flex-container .left-container .container {
  margin-top: 1rem;
}
.flex-container .left-container .container .div-1 {
  margin: 1rem 0;
}
.flex-container .left-container .container .div-1 .boton {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #BE4439;
}
.flex-container .left-container .container .div-1 .boton i {
  margin-left: 0.5rem;
}
.flex-container .aside-container {
  width: 30%;
  margin: 0 auto;
}
.flex-container .aside-container .div-content {
  width: 80%;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.flex-container .aside-container .div-content figure {
  margin: 0;
}
.flex-container .aside-container .div-content figure img {
  width: 100%;
  border-radius: 10px;
}
.flex-container .aside-container .div-content figure figcaption {
  font-size: 1.2rem;
  margin: 0.4rem 0;
}
.flex-container .aside-container .div-content figure .time {
  font-size: 0.85rem;
  color: #999;
}

@media screen and (max-width: 568px) {
  .title-news-content {
    font-size: 1.2em;
  }
}
.wrapper-covers {
  background-color: #e5e5e5;
  border-radius: 12px;
  width: 90%;
  margin: 1rem auto;
  margin-bottom: 3rem;
  padding: 1.5rem 1.2rem 2.5rem 1.2rem;
}

.dropdown-container2 {
  margin: 1rem 0 2rem;
}

.container-figure {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 40px;
  row-gap: 32px;
}
.container-figure figure {
  background-color: #ffffff;
  padding: 0.5rem 0.3rem;
  border-radius: 8px;
  margin: 0;
}
.container-figure figure figcaption {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 0.6rem;
}
.container-figure figure figcaption img {
  width: 30%;
}
.container-figure figure figcaption span {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 70%;
}
.container-figure figure figcaption span p {
  font-size: 0.8rem;
  color: #4d4d4d;
  margin: 0;
}

.wrapper-covers-display {
  background-color: #4d4d4d;
  border-radius: 12px;
  width: 90%;
  margin: 1rem auto;
  margin-bottom: 3rem;
  padding: 1.5rem 1.2rem 2.5rem 1.2rem;
}

.container-figure-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-figure-display a {
  color: #ffffff;
  padding: 0.6rem;
  font-size: 1.6rem;
}
.container-figure-display figure {
  background-color: #ffffff;
  padding: 1.2rem 0.4rem 0.6rem;
  border-radius: 12px;
  margin: 0;
  max-width: 70%;
}
.container-figure-display figure img {
  max-width: 100%;
}
.container-figure-display figure figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 0.6rem;
}
.container-figure-display figure figcaption img {
  width: 12%;
}
.div-container1 .figure-competition {
  width: 50%;
}
.div-container1 .content-competition {
  width: 50%;
}

.tagline {
  background-color: #9a1d21;
  color: white;
  text-align: center;
  padding: 0.2rem 1rem;
  width: fit-content;
  margin-bottom: 0.8rem;
}

.boton-1 {
  display: flex;
  justify-content: right;
  margin-top: 0.4rem;
}
.boton-1 a {
  color: #BE4439;
}
.boton-1 a i {
  margin-left: 0.5rem;
}

.div-container2 {
  width: 85%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.divider {
  margin: 0;
}

@media screen and (max-width: 568px) {
  .main-title h1 {
    font-size: 1.8rem;
  }

  .div-container1 {
    margin-top: 1.5rem;
  }
  .div-container1 .content-competition {
    margin: 0;
    width: 50%;
  }
  .div-container1 .content-competition h1 {
    font-size: 1.1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .boton-1 {
    margin-top: 0rem;
  }
  .boton-1 a {
    font-size: 0.8rem;
  }

  .tagline {
    margin-bottom: 0.4rem;
  }
  .tagline span {
    font-size: 0.7rem;
  }

  .time {
    font-size: 0.7rem;
  }

  .dayli {
    font-size: 0.8rem;
  }

  .div-container2 {
    margin-top: 1rem;
    width: 90%;
  }

  .div-1 h2 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
.wrapper-section1 {
  width: 80%;
  margin: 2rem auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.wrapper-section1 .content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.wrapper-section1 .content .div-right {
  width: 30%;
}
.wrapper-section1 .content .div-right figure {
  margin: 0;
  margin-top: 0.65rem;
}
.wrapper-section1 .content .div-right figure img {
  border-radius: 10px;
  width: 100%;
}
.wrapper-section1 .content .div-left {
  width: 70%;
}

.div-below > div {
  display: flex;
  margin: -1.5rem auto;
  justify-content: center;
}
.div-below > div a {
  text-align: center;
}

@media screen and (max-width: 568px) {
  .main-title {
    margin-left: 2rem;
  }

  .wrapper-section1 {
    margin-top: 0.5rem;
    width: 90%;
  }
  .wrapper-section1 .content {
    margin-bottom: -1.5rem;
    gap: 2rem;
  }
  .wrapper-section1 .content .div-right {
    width: 50%;
  }
  .wrapper-section1 .content .div-right span {
    font-size: 0.7rem;
  }
  .wrapper-section1 .content .div-right figure {
    margin-top: 0.4rem;
  }
  .wrapper-section1 .content .div-left {
    width: 50%;
  }
  .wrapper-section1 .content .div-left .tagline span {
    font-size: 0.8rem;
  }
  .wrapper-section1 .content .div-left h2 {
    font-size: 1.1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-align: justify;
  }
  .wrapper-section1 .content .div-left span {
    font-size: 0.8rem;
  }

  .boton-1 a {
    font-size: 0.8rem;
  }

  .div-below > div a {
    font-size: 0.8rem;
  }
}
.buttons-top, .buttons-top-actually {
  width: 80%;
  margin: 3.5rem auto 2.8rem;
}
.buttons-top button, .buttons-top-actually button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.6rem;
  border: none;
  margin-right: 0.5rem;
  background-color: #999;
}
.buttons-top button:hover, .buttons-top-actually button:hover {
  background-color: #4d4d4d;
  color: white;
}
.buttons-top hr, .buttons-top-actually hr {
  margin: 0;
}

.buttons-top-actually {
  width: 80%;
  margin: 3.5rem auto 2.8rem;
  border-bottom: 4px solid #312f30;
}
.buttons-top-actually button {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.6rem;
  border: none;
  margin-right: 0.5rem;
  background-color: #e5e5e5;
}
.buttons-top-actually button:hover {
  background-color: #4d4d4d;
  color: white;
}
.buttons-top-actually hr {
  margin: 0;
}

.buttons-top {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 4px solid #e5e5e5;
}
.buttons-top button {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
}
.buttons-top button i {
  margin-right: 0.8rem;
  font-size: 2rem;
}
.buttons-top .btn-yellow .yellow {
  color: #e9b02b;
}
.buttons-top .btn-yellow:hover {
  background-color: #e9b02b;
  color: #312f30;
}
.buttons-top .btn-yellow:hover i {
  color: #312f30;
}
.buttons-top .btn-blue .blue {
  color: #0062ad;
}
.buttons-top .btn-blue:hover {
  background-color: #0062ad;
  color: #ffffff;
}
.buttons-top .btn-blue:hover i {
  color: #ffffff;
}
.buttons-top .btn-green .green {
  color: #73a664;
}
.buttons-top .btn-green:hover {
  background-color: #73a664;
  color: #312f30;
}
.buttons-top .btn-green:hover i {
  color: #312f30;
}

.div-container1 {
  width: 85%;
}
.div-container1 .div-left {
  width: 45%;
}
.div-container1 .div-left figure {
  display: block;
  width: 100%;
  height: auto;
  text-align: start;
}
.div-container1 .div-left figure img {
  width: 100%;
  border-radius: 10px;
}
.div-container1 .div-left .time, .div-container1 .div-left h2, .div-container1 .div-left .dayli {
  display: block;
}
.div-container1 .div-left .time {
  margin-top: 1rem;
}
.div-container1 .div-right {
  width: 55%;
  text-align: justify;
}
.div-container1 .div-right .div-left-1 {
  display: flex;
  align-items: center;
}
.div-container1 .div-right .div-left-2 {
  display: flex;
  align-items: center;
}

.div-left-right {
  width: 45%;
}
.div-left-right .date {
  font-size: 0.9rem;
  color: #999;
}
.div-left-right figure {
  margin: 0;
  margin-top: 0.5rem;
  width: 90%;
}
.div-left-right figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.div-left-left {
  width: 45%;
  margin: 0 auto;
}

@media screen and (max-width: 568px) {
  .div-container1 {
    width: 90%;
  }
}
.container-general {
  width: 80%;
  margin: 0 auto;
}

.section-editorial h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.section-editorial .slides-editorials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.section-editorial .slides-editorials i {
  color: #BE4439;
}
.section-editorial .slides-editorials .container-card {
  padding: 0.8rem;
  border-radius: 10px;
  max-width: 22%;
  min-width: 22%;
  max-height: 14rem;
}
.section-editorial .slides-editorials .container-card .time-editorial {
  display: flex;
  color: #4d4d4d;
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 0.6rem;
}
.section-editorial .slides-editorials .container-card figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
}
.section-editorial .slides-editorials .container-card figure img {
  height: 100%;
  height: fit-content;
}
.section-editorial .slides-editorials .container-card span {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
.section-editorial .slides-editorials .container-card span p {
  font-weight: bolder;
  margin: 0.4rem 0;
}

.Section-Authors h2 {
  margin: 2rem 0;
}
.Section-Authors .container-card-author {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.8rem;
}
.Section-Authors .container-card-author .details-author {
  display: flex;
  border-radius: 10px;
  border: 1px solid white;
  background: #e5e5e5;
}
.Section-Authors .container-card-author .details-author figure {
  width: 20%;
  margin: 0;
  margin: 0.4rem 0 0.3rem;
  text-align: center;
}
.Section-Authors .container-card-author .details-author figure img {
  border-radius: 50%;
  height: 6rem;
}
.Section-Authors .container-card-author .details-author .date-general {
  width: 80%;
  padding: 0 1.2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Section-Authors .container-card-author .details-author .date-general h2, .Section-Authors .container-card-author .details-author .date-general p {
  margin: 0;
}
.Section-Authors .container-card-author .details-author .date-general .date {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.Section-Authors .container-card-author .details-author .date-general .date p {
  font-size: 1.2rem;
}
.Section-Authors .container-card-author .details-author .date-general .text {
  display: flex;
  justify-content: right;
  margin-top: 0.5rem;
}
.Section-Authors .container-card-author .details-author .date-general .text i {
  margin-left: 0.5rem;
}

.left-article {
  margin: 3rem;
  margin-left: 5rem;
  width: 58%;
}
.left-article .fecha {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #4d4d4d;
}
.left-article .title h1 {
  margin-bottom: 1rem;
}
.left-article .Author {
  width: 60%;
  background: #e5e5e5;
  border-radius: 10px;
  display: flex;
  margin-bottom: 1rem;
}
.left-article .Author figure {
  width: 30%;
  margin: 0;
  margin: 0.4rem 0 0.3rem;
  text-align: center;
}
.left-article .Author figure img {
  border-radius: 50%;
  height: 4rem;
}
.left-article .Author .description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 0.5rem;
  width: 80%;
  margin: auto 0;
}
.left-article .Author .description h2, .left-article .Author .description p {
  margin: 0;
}
.left-article .container figure {
  border-radius: 50px;
  border: 2px solid #e5e5e5;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 1.5rem 3.5rem;
}
.left-article .container figure img {
  width: 100%;
  height: auto;
}
.left-article .container .icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.2rem;
}
.left-article .container .icons a {
  display: flex;
  align-items: center;
}
.left-article .container .icons a i {
  font-size: 1.4rem;
}
.left-article .container .icons a p {
  margin: 0;
  margin-left: 0.5rem;
}

.wrapper-main {
  display: flex;
  justify-content: space-between;
}
.wrapper-main .section-authors {
  width: 30%;
  margin: 8rem 0;
  margin-right: 0;
  overflow-y: auto;
}
.wrapper-main .section-authors h3 {
  font-size: 1.3rem;
  border-bottom: 3px solid #312f30;
}
.wrapper-main .section-authors .container-card-author {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.wrapper-main .section-authors .container-card-author .Authors {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  background: #e5e5e5;
  border-radius: 8px;
}
.wrapper-main .section-authors .container-card-author .Authors figure {
  width: 30%;
  margin: 0;
  padding: 0.2rem 0;
  text-align: center;
}
.wrapper-main .section-authors .container-card-author .Authors figure img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}
.wrapper-main .section-authors .container-card-author .Authors .description {
  width: 70%;
  text-align: justify;
}
.wrapper-main .section-authors .container-card-author .Authors .description p {
  margin: 0;
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.dayli-author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.dayli-author figure {
  background-color: #fecf1f;
  width: 160px;
  margin: 0;
  padding: 0.3rem;
}
.dayli-author figure img {
  width: 100%;
}
.dayli-author .description h3, .dayli-author .description p {
  margin: 0;
  margin-left: 1rem;
}
.dayli-author .description p {
  margin-top: 0.4rem;
}

.section-editorial-column {
  width: 30%;
  height: fit-content;
  margin: 8rem 0;
  margin-right: 0;
}
.section-editorial-column h3 {
  font-size: 1.3rem;
  border-bottom: 3px solid #312f30;
}
.section-editorial-column .container-card-editorials {
  margin-top: 1.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.section-editorial-column .container-card-editorials .container-card {
  padding: 0.8rem;
  border-radius: 10px;
  max-width: 70%;
  height: fit-content;
}
.section-editorial-column .container-card-editorials .container-card .time-editorial {
  display: flex;
  color: #4d4d4d;
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 0.6rem;
}
.section-editorial-column .container-card-editorials .container-card figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
}
.section-editorial-column .container-card-editorials .container-card figure img {
  width: 90%;
  height: fit-content;
}
.section-editorial-column .container-card-editorials .container-card span {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
.section-editorial-column .container-card-editorials .container-card span p {
  font-weight: bolder;
  margin: 0.4rem 0;
}

.container-aside-content {
  width: 90%;
  margin-top: 1.5rem;
}
.container-aside-content .ul-noticias {
  margin-left: 0.8rem;
  margin-bottom: 1.5rem;
  list-style: disc;
  color: #BE4439;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.container-aside-content .ul-noticias p {
  margin: 0;
  color: black;
  text-align: justify;
}
.container-aside-content .card-dayli {
  margin-left: 0.8rem;
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container-aside-content .card-dayli figure {
  margin: 0;
}
.container-aside-content .card-dayli figure img {
  border-radius: 8px;
  width: 100%;
}
.container-aside-content .card-dayli .description-image {
  margin: 0;
  color: #312f30;
}

.time-dark {
  color: #999;
  font-size: 0.85em;
}

.wrapper-dark {
  background-color: #312f30;
  margin-bottom: -3rem;
}

.section-container-video video {
  border-radius: 10px;
  width: 50%;
  height: auto;
}
.section-container-video .content-top {
  color: #ffffff;
}
.section-container-video .content-top .boton-1 {
  margin-top: 1.5rem;
  color: #ffffff;
}
.section-container-video .content-top .boton-1 a {
  color: #e5e5e5;
}

.wrapper-section1-dark {
  width: 85%;
}
.wrapper-section1-dark .content .div-right video {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.wrapper-section1-dark .div-left {
  color: #ffffff;
}
.wrapper-section1-dark .div-left .time {
  color: #e5e5e5;
}
.wrapper-section1-dark .div-left .boton-1 {
  color: #ffffff;
}
.wrapper-section1-dark .div-left .boton-1 a {
  color: #e5e5e5;
}

.div-below-dark div {
  padding-bottom: 3rem;
}
.div-below-dark div a {
  background-color: #312f30;
  color: #ffffff;
}

.wrapper-main-dark {
  background-color: #312f30;
}

.left-article {
  height: fit-content;
}
.left-article .fecha p {
  color: #e5e5e5;
}
.left-article .title {
  color: #ffffff;
}
.left-article .container-video {
  width: 100%;
}
.left-article .container-video video {
  width: 100%;
  height: auto;
}
.left-article .container-video .description-video {
  color: #ffffff;
  text-align: justify;
  font-size: 1.1rem;
}
.left-article .container-video .icons {
  color: #ffffff;
}

.section-editorial-column {
  margin-top: 4rem;
}
.section-editorial-column h3 {
  color: #ffffff;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #ffffff;
}
.section-editorial-column h4 {
  color: #ffffff;
}
.section-editorial-column .time {
  color: #e5e5e5;
}

.rom-nav {
  background: #312f30;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Lato";
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25), -4px 0px 6px 0 rgba(0, 0, 0, 0.25);
}
.rom-nav > ul {
  display: flex;
  align-items: center;
}
.rom-nav > ul li {
  padding: 0.1em 1em;
  font-weight: 300;
}
.rom-nav > ul li:not(:nth-child(1)) {
  border-left: 1px solid white;
}

@media screen and (max-width: 568px) {
  .rom-nav {
    display: none;
  }
}
.dropdown-dark {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  color: #fff;
}
.dropdown-dark option {
  color: #000;
}

.dropdown-gray {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #e5e5e5;
}

.dropdown-border {
  padding: 0.5rem 1rem;
  border: 1px solid #312f30;
  border-radius: 10px;
  background-color: #e5e5e5;
}

.dropdown-border-dark {
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
}
.dropdown-border-dark option {
  color: #000;
}

.rom-brands {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem;
  margin-bottom: 2rem;
  background-color: #e5e5e5;
}
.rom-brands div {
  color: #000;
}

@media screen and (max-width: 568px) {
  .rom-brands {
    display: none;
  }
}
.rom-section .title {
  display: flex;
  border-bottom: 3px solid #312f30;
  text-transform: capitalize;
}
.rom-section .title h2 {
  background: #312f30;
  color: white;
  padding: 0.5rem 2rem;
  margin-bottom: 0;
}
.rom-section .title2 {
  display: flex;
  align-items: center;
}
.rom-section .title2 i {
  font-size: 2rem;
  font-style: italic;
}
.rom-section .title2 h2 {
  margin-left: 1.2rem;
  text-transform: capitalize;
}
.rom-section .title3 {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  margin-bottom: 1.5rem;
  padding: 0.4rem 1.2rem;
  width: 80%;
}
.rom-section .title3 i {
  font-size: 2rem;
  margin-right: 1.2rem;
}
.rom-section .title3 h2 {
  text-transform: capitalize;
}
.rom-section .title4 {
  display: flex;
  text-transform: capitalize;
}
.rom-section .title4 h2 {
  background-color: #312f30;
  color: white;
  padding: 0.5rem 4rem;
}

@media screen and (max-width: 568px) {
  .title h2, .title2 h2, .title3 h2, .title4 h2 {
    font-size: 1.2rem;
  }
}
.rom-last-news {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
}
.rom-last-news .slider-news {
  margin: 2rem 0;
  width: 50%;
  position: relative;
}
.rom-last-news .slider-news img {
  width: 100%;
  border-radius: 20px;
}
.rom-last-news .slider-news figcaption {
  position: absolute;
  top: 62.8%;
  border-radius: 0 20px 0 20px;
  max-width: 80%;
  background-color: #312f30;
  opacity: 0.7;
  padding: 0.4rem 1rem;
  color: #fff;
  font-size: 1.8rem;
}
.rom-last-news .slider-news span {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
.rom-last-news .list-news {
  width: 50%;
}
.rom-last-news .list-news ul {
  max-height: 80%;
  padding-left: 0.5rem;
  margin-top: 1.5rem;
  overflow-y: auto;
}
.rom-last-news .list-news ul li {
  margin-left: 0.4rem;
  list-style: disc;
  color: #BE4439;
}
.rom-last-news .list-news ul li > p {
  margin-bottom: 0.4rem;
  color: #000;
}
.rom-last-news .list-news ul li span {
  padding-top: -2rem;
  font-size: 0.8rem;
  color: #999;
}

@media screen and (max-width: 568px) {
  .rom-last-news {
    flex-direction: column;
    gap: 0;
  }
  .rom-last-news .slider-news {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .rom-last-news .slider-news img {
    border-radius: 10px;
  }
  .rom-last-news .slider-news figcaption {
    max-width: 80%;
    top: 8.85em;
    border-radius: 0 10px 0 10px;
    font-size: 1.4em;
  }
  .rom-last-news .list-news {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
  .rom-last-news .list-news ul {
    margin-top: 0;
  }
}
.brand-activities-slide {
  margin-top: 2em;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.brand-activities-slide i {
  color: #BE4439;
}

.view-all-button {
  display: flex;
  justify-content: right;
  gap: 0.6rem;
  color: #BE4439;
}

@media screen and (max-width: 568px) {
  .brand-activities-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .brand-activities-slide a {
    display: none;
  }
  .brand-activities-slide div img {
    border-radius: 10px;
  }
}
.brand-competencies-slide {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.brand-competencies-slide i {
  color: #BE4439;
}

.rom-card-new {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rom-card-new img {
  width: 100%;
  max-height: 200px;
  border-radius: 20px;
}
.rom-card-new .rom-card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rom-card-new .rom-card-body .rom-brand {
  display: flex;
  color: white;
  background-color: #9a1d21;
  width: fit-content;
  padding: 0.35rem 1rem;
}
.rom-card-new .rom-card-body h3 {
  text-transform: capitalize;
}
.rom-card-new .rom-card-body span {
  color: #999;
}

.brand-competencies-slide .rom-card-competencies {
  max-width: 240px;
  display: flex;
  flex-direction: column;
}
.brand-competencies-slide .rom-card-competencies span {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  color: #999;
}
.brand-competencies-slide .rom-card-competencies .rom-card-body {
  padding: 1.5rem 1rem;
  background-color: #BE4439;
  border-radius: 20px;
}
.brand-competencies-slide .rom-card-competencies .rom-card-body p {
  margin: 0;
  font-size: 1.4rem;
  color: #ffffff;
}
.brand-competencies-slide .rom-card-competencies .rom-card-body a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  font-weight: bold;
  color: #ffffff;
}
.brand-competencies-slide .rom-card-competencies .rom-card-body a i {
  color: #ffffff;
}

@media screen and (max-width: 568px) {
  .brand-competencies-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .brand-competencies-slide > a {
    display: none;
  }
  .brand-competencies-slide .rom-card-competencies .rom-card-body p {
    font-size: 1.2rem;
  }
}
.content-article {
  margin-bottom: 3rem;
}
.content-article .pricing-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-top: 1.5rem;
}
.content-article .view-all-button {
  color: #BE4439;
}

@media screen and (max-width: 568px) {
  .content-article .pricing-content {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.aside-tv {
  width: 30%;
  background-color: #312f30;
  border-radius: 36px;
  color: #fff;
  padding: 2rem 0;
}
.aside-tv .body-news {
  padding: 0 2.5rem;
}
.aside-tv .body-news div {
  margin-bottom: 1.5rem;
}
.aside-tv .body-news div img {
  border-radius: 16px;
}
.aside-tv .body-news div p {
  margin: 0.5rem 0;
  font-size: 1.115rem;
}
.aside-tv .body-news div span {
  font-size: 0.9rem;
  color: #999;
}
.aside-tv .view-all-button {
  margin-right: 2.5em;
  color: #ffffff;
}

.aside-opinion {
  width: 28%;
  background-color: #e5e5e5;
  border-radius: 36px;
  padding: 2rem 0 0;
}
.aside-opinion .content-aside {
  padding: 2rem 1rem 0;
}
.aside-opinion .content-aside .overflow-vertical {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.aside-opinion .content-aside .overflow-vertical::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
  background: #ccc;
}
.aside-opinion .content-aside .overflow-vertical::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #555;
}
.aside-opinion .content-aside a {
  display: flex;
  justify-content: flex-end;
  color: #BE4439;
  margin-top: 1.5rem;
}
.aside-opinion .content-aside a i {
  margin-left: 0.5em;
}

.content-article-columns-actually {
  justify-content: space-between;
}

@media screen and (max-width: 568px) {
  .aside-opinion {
    width: 100%;
  }
  .aside-opinion .content-aside {
    margin-bottom: 1.5em;
  }

  .content-article-columns-actually {
    width: 100%;
    overflow-x: auto;
  }
  .content-article-columns-actually .article-column {
    min-width: 210px;
  }
  .content-article-columns-actually .article-column > h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
.wrapper-figure {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-right: 0.6rem;
  max-width: 100%;
}
.wrapper-figure img {
  position: absolute;
  object-fit: cover;
  height: 100px;
  width: 100px;
  left: -3.8rem;
  top: -0.5rem;
  border-radius: 50%;
}
.wrapper-figure figcaption {
  height: 85px;
  min-width: 100%;
  padding: 0.6rem 1rem 0.6rem 3.5rem;
  border-radius: 20px;
  font-weight: bold;
}
.wrapper-figure figcaption span {
  font-weight: 400;
}

@media screen and (max-width: 568px) {
  .wrapper-figure img {
    height: 92px;
    width: 92px;
    left: -3.6rem;
    top: -0.7rem;
  }
  .wrapper-figure figcaption {
    height: 75px;
    font-size: 0.9em;
  }
}
.column1-1 {
  display: flex;
  gap: 1.5rem;
  max-width: 60%;
}
.column1-1 img {
  max-width: 50%;
  border-radius: 20px;
}
.column1-1 div p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.column1-1 div span {
  font-size: 0.9rem;
  color: #999;
}

.column2-1 {
  max-width: 40%;
}
.column2-1 .list-news-title li {
  list-style: disc;
  color: #BE4439;
}
.column2-1 .list-news-title li p {
  color: #000;
  margin-left: 0.6rem;
  margin-bottom: 0.4rem;
}
.column2-1 .list-news-title li span {
  margin-left: 0.6rem;
  color: #999;
  font-size: 0.8rem;
}

@media screen and (max-width: 568px) {
  .column1-1 {
    max-width: 100%;
  }
  .column1-1 img {
    max-width: 40%;
  }
  .column1-1 div p {
    font-size: 1.2rem;
  }

  .column2-1 {
    max-width: 100%;
  }
}
.column1 {
  max-width: 35%;
}
.column1 img {
  max-width: 100%;
  border-radius: 20px;
}
.column1 p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.column1 span {
  font-size: 0.9rem;
  color: #999;
}

.column2 {
  max-width: 20%;
}
.column2 div {
  display: flex;
  flex-direction: column;
}
.column2 div span {
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 0.4rem;
}
.column2 div img {
  width: 100%;
  border-radius: 20px;
}
.column2 div p {
  font-size: 1.2rem;
}

.column3 {
  max-width: 45%;
}
.column3 .list-news-title li {
  list-style: disc;
}
.column3 .list-news-title li p {
  margin-left: 0.6rem;
  margin-bottom: 0.4rem;
}
.column3 .list-news-title li span {
  margin-left: 0.6rem;
  color: #999;
  font-size: 0.8rem;
}

@media screen and (max-width: 568px) {
  .column1 {
    max-width: 100%;
    display: flex;
    gap: 2em;
  }
  .column1 img {
    max-width: 40%;
    border-radius: 10px;
  }
  .column1 p {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .column1 span {
    font-size: 0.9rem;
    color: #999;
  }

  .column2 {
    max-width: 100%;
    display: flex;
    gap: 2em;
  }
  .column2 div span {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 0.4rem;
  }
  .column2 div img {
    width: 100%;
    border-radius: 10px;
  }
  .column2 div p {
    font-size: 1em;
    text-align: justify;
  }

  .column3 {
    max-width: 100%;
  }
  .column3 .list-news-title {
    max-height: 220px;
    overflow-y: auto;
  }
  .column3 .list-news-title li {
    list-style: disc;
  }
  .column3 .list-news-title li p {
    margin-left: 0.6rem;
    margin-bottom: 0.4rem;
  }
  .column3 .list-news-title li span {
    margin-left: 0.6rem;
    color: #999;
    font-size: 0.8rem;
  }

  .view-all-button {
    margin-top: 1.2em;
  }
}
.article-column {
  width: 30%;
}
.article-column h2 {
  text-transform: capitalize;
}
.article-column img {
  margin-top: 1rem;
  border-radius: 12px;
}
.article-column p {
  font-weight: bold;
  margin-bottom: 0;
}
.article-column span {
  display: block;
  font-size: 0.9rem;
  color: #999;
  margin-top: 0.4rem;
}
.article-column ul {
  margin-top: 1rem;
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.article-column ul li {
  color: #BE4439;
  list-style: disc;
}
.article-column ul li p {
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
}
.article-column a {
  display: flex;
  justify-content: flex-end;
  color: #BE4439;
}
.article-column a i {
  margin-left: 0.5rem;
}
.article-column:not(:nth-child(0)) {
  border-right: 2px solid #312f30;
  margin-right: 1.2em;
  padding-right: 1.2em;
}

footer .footer-head {
  padding: 1.2rem 0 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-head h1 {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
}
footer .footer-body {
  color: #fff;
  background-color: #312f30;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
footer .footer-body .footer-body-column1 {
  width: 30%;
  max-width: 400px;
}
footer .footer-body .footer-body-column1 > div span {
  display: block;
}
footer .footer-body .footer-body-column1 > div div {
  margin-top: 0.6rem;
  display: inline-flex;
  gap: 1rem;
}
footer .footer-body .footer-body-column1 > span {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}
footer .footer-body .footer-body-column1 > span img {
  margin-top: 0.6rem;
  width: 100%;
  max-width: 300px;
}
footer .footer-body .footer-body-column2 {
  width: 70%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}
footer .footer-body .footer-body-column2 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: capitalize;
}

@media screen and (max-width: 568px) {
  footer .footer-head {
    text-align: center;
  }
  footer .footer-head img {
    width: 280px;
  }
  footer .footer-head h1 {
    font-size: 1rem;
  }
  footer .footer-body {
    padding: 1.6rem 1.4rem;
    flex-direction: column-reverse;
  }
  footer .footer-body .footer-body-column1 {
    border-top: 1px dashed #ffffff;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-body .footer-body-column1 > div span {
    font-size: 0.8em;
  }
  footer .footer-body .footer-body-column1 > span {
    font-size: 0.8em;
    margin: 0;
  }
  footer .footer-body .footer-body-column1 > span img {
    width: 180px;
  }
  footer .footer-body .footer-body-column2 {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }
  footer .footer-body .footer-body-column2 ul {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=style.css.map */
