*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  padding-top: 2rem;
	padding-left: 6rem;
}

.div-container h1{
  font-size: 2rem;
}

.div-container{
  width: 90%;
  margin: 4rem auto;
}
.div-img{
  width: 35%;
}
.content-img{
  width: 100%;
}

.content-img img{
  max-width:100%;
  max-height:100%;
  border-radius: 0.8rem;
}

.container-1{
  display: flex;

}

.div-texto{
  margin: 0  2.5rem;

}