*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* primer parte */
.div-container{
    padding-top: 2rem;
    padding-left: 5rem;
}
.div-container h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.dropdown{
    margin-top: 2.5rem;
    padding-left: 59.5rem;
    position: absolute;
}
.select-drop{
    width: 14rem;
    height: 2.8rem;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    background-color: gainsboro;
    color:grey;
    border-color: white;
    outline: none;

}
.select-drop option{
    text-align: center;
}


.div-content{
    width: 88%;
    margin-top: 5rem;
    padding-left: 5rem;
}

.div-content h2{
    font-size: 2rem;
}

.div-1{
    padding-left: 4rem;
    margin-top: 5.5rem;
    width: 31.5rem;
}

.div-1 img{
    width: 28rem;
    height: 14rem;
    border-radius: 0.3rem;
}

.div-1 h3{
    font-size: 1.7rem;
    text-align: justify;
    margin-top: 1.5rem;
}


.div-1 span{
    position: absolute;
    margin-top: 0.5rem;
    color: gray;
}


.div-2{
    position: relative;
    padding-left: 40rem;
    margin-top: -25rem;
    width: 66rem;
}

.div-2 h3{
    margin: 1rem;
    font-size: 1.8rem;
}
.div-2 hr{
    margin: 1rem;
    width: 15rem;
}
.div-2 ul{
    margin-top: -4rem;
    padding-left: 1.2rem;
}
.div-2 li{
    margin-top: 5rem;
    color: orangered;
}

.div-2 p{
    position: absolute;
    display: block;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 0.5rem;
    margin: 1rem;
    color: black;
}

.div-2 span{
    position: absolute;
    font-size: 0.8rem;
    margin-top: 4.5rem;
    padding-left: 1rem;
    color: gray;
}

.div-below{
    margin-top: 10rem;


}

.div-below div{
    position: absolute;
    padding-left: 37%;
    margin-top: -1.4rem;
}

.div-below div button{
    width: 23rem;
    height: 2.5rem;
    font-size: 1rem;
    color: orangered;
    outline: none;
    border: none;
    background-color: white;
}



