.dropdown-dark{
  border: 1px solid #fff;
  border-radius: 10px;
  padding: .4rem .6rem;
  color: #fff;
  option{
    color: #000;
  }
}

.dropdown-gray{
  padding: .5rem 1rem;
  border-radius: 10px;
  background-color: $gray-box;
}

.dropdown-border{
  padding: .5rem 1rem;
  border: 1px solid $black;
  border-radius: 10px;
  background-color: $gray-box;
}

.dropdown-border-dark{
  padding: .5rem 1rem;
  border: 1px solid $white;
  border-radius: 10px;
  background-color: transparent;
  color: $white;
  option{
    color: #000;
  }
}