.brand-activities-slide{
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	i{
		color: $primary;
	}
}
.view-all-button{
	display: flex;
	justify-content: right;
	gap: .6rem;
	color: $primary;
}

@include mobile{
	.brand-activities-slide{
		display: grid;
		grid-template-columns: 1fr 1fr;
		a{
			display: none;
		}
		div img{
			border-radius: 10px;
		}
	}
}