.rom-social-media-news{
	display: flex;
	color: white;
	background-color: $black;
	padding: 1.6rem 1rem;
	border-radius: 2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
	.social-network{
		ul{
			list-style: none;
			padding: 0rem 4rem;
			max-height: 220px;
			overflow-y: auto;
			li{
				span{
					color: aqua;
				}
				.date-fb{
					color: blue;
				}
			}
		}
		header{
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			text-transform: capitalize;
			.icon-social-network{
				width: 3rem;
				height: 3rem;
				padding: .5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				border: 1px solid green;
				span{
					font-size: 1.8rem;
					line-height: 0;
				}
			}
			h3{
				font-size: 1.6rem;
			}
		}
		ul{
			li{
				p{
					margin-bottom: .5rem;
				}
			}
		}
	}
}

@include mobile{
	.rom-social-media-news{
		flex-direction: column;
		.sm-facebook{
			margin-top: 1.5rem;
		}
		.social-network ul{
			padding: 0 2rem;
			max-height: 170px;
		}
	}
}