*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-general{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}
.content{
    width: 100%;
}
.fecha{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}
.title h1{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.Author{
    width: 50%;
    background: #DCDCDC;
    border-radius: .8rem;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    margin-bottom: 1rem;
}
.Author img{
    border-radius: 50%;
    height: 30%;
    width: 14%;
    margin-left: 5%;
}
.date-1{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    padding-top: 1rem;
}
.container{
    padding-right: 16rem;
}
.container-1{
    box-shadow: 0.1rem 0.01rem 0.01rem 0.3rem rgba(1, 1, 1, 0.1);
    border-radius: 1.3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.image img{
    width: 39rem;
    height: 45rem;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1.5rem;
}

.Section-Authors{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 6rem;
}
.Section-Authors h1{
    font-size: 1.3rem;
    border-bottom: 1px solid black;
}
.sub-section{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Authors{
    background: #DCDCDC;
    border-radius: .3rem;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.Authors img{
    border-radius: 50%;
    width: 19%;
    margin-left: 1rem;
}
.date{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-right: 1rem;
}
.date h4{
    font-size: 1rem;
    padding-top: .6rem;
}
.date p{
    font-size: .7rem;
    padding-bottom: 0.4rem;
}