.buttons-top, .buttons-top-actually{
  width: 80%;
  margin: 3.5rem auto 2.8rem;
  button{
    width: 10rem;
    height: 2.5rem;
    font-size: 1.6rem;
    border: none;
    margin-right: 0.5rem;
    background-color: $gray-text;
    &:hover{
      background-color: $gray-container;
      color: white;
    }
  }
  hr{ margin: 0; }
}
.buttons-top-actually{
  width: 80%;
  margin: 3.5rem auto 2.8rem;
  border-bottom: 4px solid $gray-box;
  button{
    width: 10rem;
    height: 2.5rem;
    font-size: 1.6rem;
    border: none;
    margin-right: 0.5rem;
    background-color: $gray-box;
    &:hover{
      background-color: $gray-container;
      color: white;
    }
  }
  hr{ margin: 0; }
}
.container-actually{
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  figure{
    text-align: center;
    margin: 0;
    width: 45%;
    img{
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
    }
  }
  .content-top{
    width: 55%;
    text-align: justify;
    // @include news-intro;
  }
}

@include mobile{
  .buttons-top-actually{
    width: 90%;
    margin: 1.5em 0 2em 2em;
    button{
      font-size: 1.2rem;
      i{ font-size: 1.4rem; }
    }
  }
  .container-actually{
    width: 90%;
    display: block;
    margin: 0 auto;
    figure{
      margin: 0 auto;
      width: 90%;
    }
    .content-top{
      width: 100%;
      margin-top: .6em;
    }
  }
}
