.container-aside-content {
	width: 90%;
	margin-top: 1.5rem;
	.ul-noticias {
		margin-left: .8rem;
		margin-bottom: 1.5rem;
		list-style: disc;
		color: $primary;
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		p {
			margin: 0;
			color: black;
			text-align: justify;
		}
	}
	.card-dayli {
		margin-left: .8rem;
		margin-bottom: 1.25rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		figure{
			margin: 0;
			img{
				border-radius: 8px;
				width: 100%;
			}
		}
		.description-image{
			margin: 0;
			color: $black;
		}
	}
}
.time-dark{
	color: $gray-text;
	font-size: .85em;
}