.container-general {
	width: 80%;
	margin: 0 auto;
}

.section-editorial{
	h2 {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
	}
	.slides-editorials {
		display: flex;
		align-items: center;
		// gap: 1rem;
		a{
			padding: .3em .4em; 
			i{ color: $primary; }
		}
		.overflow-horizontal{
			display: flex;
			justify-content: space-evenly;
			gap: 1.5em;
			overflow-x: auto;
			.container-card {
				padding: .8rem;
				border-radius: 10px;
				max-width: 22%;
				min-width: 110px;
				max-height: 14rem;
				.time-editorial{
					display: flex;
					color: $gray-container;
					font-size: .85rem;
					margin: 0;
					margin-bottom: .6rem;
				}
				figure{
					margin: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 2.8rem;
					img{
						height: 100%;
						height: fit-content;
					}
				}
				span{
					display: block;
					margin-top: 1rem;
					text-align: center;
					p {
						font-weight: bolder;
						margin: .4rem 0;
					}
				}
			}
		}
	}
}
.Section-Authors{
	h2 {
		margin: 2rem 0;
	}
	.container-card-author{
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1.8rem;
		.details-author{
			display: flex;
			border-radius: 10px;
			background: $gray-box;
			figure{
				display: flex;
				align-items: center;
				width: 20%;
				margin: .4rem 0 .3rem;
				text-align: center;
				img {
					width: 55%;
					margin: 0 auto;
					border-radius: 50%;
					height: auto;
				}
			}
			.date-general {
				width: 80%;
				padding: 0 1.2rem 0 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				h2, p{
					margin: 0;
				}
				.date{
					display: flex;
					flex-direction: column;
					gap: .25rem;
					p{
						font-size: 1.2rem;
					}
				}
				.text {
					display: flex;
					justify-content: right;
					margin-top: .5rem;
					i{
						margin-left: .5rem;
					}
				}
			}
		}
	}
}


@include mobile{
	.container-general{
		width: 90%;
	}
	.section-editorial{
		.slides-editorials{
			.overflow-horizontal{
				justify-content: space-between;
				.container-card{
					padding: .5em;
					border-radius: 6px;
					.time-editorial{
						font-size: .75rem;
					}
					span > p{
						font-size: .75rem;
					}
				}	
			}
		}
	}
	.Section-Authors .container-card-author{
		width: 100%;
		.details-author{
			padding-right: .6em;
			figure{
				width: 15%;
				margin-left: .5em;
				img{ width: 100%;}
			}
			.date-general{
				margin-left: .6em;
				padding: .5em 0;
				.date h2{
					font-size: 1em;
				}
				.date p{
					font-size: .85em;
				}
				.text{
					font-size: .85em;
				}
			}
		}
	}
}
