.rom-section{
  display: flex;
  flex-direction: column;
  .section-main{
    display: flex;
    gap: 2rem;
    > article{
      width: 70%;
      .content-article-columns{
        margin: 3rem 0;
        display: flex;
        .fix-margin{
          margin-right: 0;
        }
        .container-overflow{
          display: flex;
          justify-content: space-between;
        }
        a{
          display: flex;
          align-items: center;
          padding: .5em;
          i{ color: $primary;  }
        }
        // -> news-column-article.scss
      }
      // aside-opinion.scss
    }
  }
  .section-foot{
    background-color: $black;
    border-radius: 20px;
    width: 100%;
    display: flex;
    margin: 2rem 0;
    padding: 1.5rem 0;
    align-items: center;
    gap: 1rem;
    .foot-left{
      width: 20%;
      select{
        margin-left: 16%;
      }
      // dropdown.scss
    }
    .slider-new{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      padding-right: 1rem;
      i{ color: $primary; }
      img{
        height: 100%;
      }
    }
  }
	.content{
		margin-bottom: 1rem;
	}
}

@include mobile{
  .rom-section{
    .section-main{
      margin-bottom: 1.5em;
      flex-direction: column;
      article{
        width: 100%;
        .content-article-columns{
          margin-top: 1.5em;
          margin-bottom: 0;
          .container-overflow{
            display: flex;
            overflow-x: auto;
            .article-column{
              overflow-x: auto;
              min-width: 200px;
              h2{ font-size: 1.2em; }
            }
          }
        }
      }
      .aside-tv{
        border-radius: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding: 1.2em 1em;
        .title3{
          padding: 0 1em;
        }
        .body-news{ 
          padding: 0;
          display: flex;
          gap: 1.5em;
          img{
            border-radius: 10px;
          }
        }
        .view-all-button{ 
          color: $white;
          width: 100%;
        }
      }
    }
    .section-foot{
      display: none;
    }
  }
}