*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container{
  padding-top: 2rem;
	padding-left: 6rem;
}
.main-container h1{
  font-size: 2.2rem;
}
.main-container .hr{
  margin-top: 0.5rem;
}
.content-img{
  width: 28.8rem;
  height: 17rem;
}

.content-img img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
}

.div-container1{
  margin: 3.7rem;
  display: flex;
}

.content-top{
  width: 30rem;
  height: 17rem;
  text-align: justify;
  margin-top: 1.4rem;


}

.content-top .span1{
  font-size: 0.9rem;
  color: gray;
}

.content-top .span2{
  font-size: 1.28rem;
}

.content-top h1{
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  font-size: 2.2rem;
}

.div-container2{
  margin: 3.7rem;
  width: 44rem;

}
.div-container2 .h2{
  font-size: 1.7rem;
}

.div-container2 h2{
  font-size: 1.6rem;
}

.container{
  margin-top: 2rem;
}
.container .div-1{
  margin-top: 1rem;
  width: 38rem;
}

.div-1 .span3{
  font-size: 0.9rem;
  color: gray;
}

.div-1 h2{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.div-1 h2 a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.div-1 .span4{
  font-size: 1.2rem;
}

.container .boton{
  margin-top: -0.5rem;
  padding-left: 83%;
}
.boton button{
  width: 7.5rem;
  font-size: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.boton button i{
  padding-left: 0.5rem;
}

.container hr{
  margin-top:  1rem; ;
}
.aside{
  position:absolute;
  padding-left: 70%;
  margin-top: -81%;

}
.aside-container{
  width: 20rem;
}
.aside-container h2{
  font-size: 1.7rem;
}

.div-content{
  margin-top: 3rem;
}
.figure-aside{
  margin: 1.2rem;
}
.figure-aside img{
  height: 10rem;
  width: 18rem;
  border-radius: 0.2rem;
}
.figure-aside figcaption{
  font-size: 1.3rem;
  width: 18rem;
}

.container-bottom{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.container-button{
  position: absolute;
  padding-left: 39%;
  margin-top: -0.85rem;

  
}

.container-button button{
  font-size: 1rem;
  width: 19rem;
  border: none;
  background-color: white;
  color: orangered;
}
.container-button button i{
  padding-left: 0.5rem;
}