@import "./variables.scss";
*{
	box-sizing: border-box;
}
body{
	font-family: 'Aleo';
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
i{
	line-height: 0;
	padding: 0;
	margin: 0;
}
ul, ol{
	padding: 0;
	list-style: none;
}
button{
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}
select{
	border: none;
	outline: none;
	background-color: transparent;
}
.rom-container{
	width: 90%;
	margin: auto;
}


@media (min-width: 1400px) {
	.rom-container{
		width: 80%;
	}	
}