/*font-size*/
$h1-size:16px;
$h2-size:14px;


$p-size:12px;

/*color*/
$primary: #BE4439;
$yellow: #fecf1f;
$yellow2: #e9b02b;
$red: #9a1d21;
$blue: #0062ad;
$blue-sky: #469fc7;
$green: #73a664;
$orange: #c45635;
$gray-container: #4d4d4d;
$gray-box: #e5e5e5;
$gray-text: #999;
$black: #312f30;
$white: #ffffff;